/*アイコン改行しない*/
.no-wrap {
  display: inline-block;
}

[style="text-indent:3em"]{
  text-indent: 3em
}

[style="text-indent:1em"]{
  text-indent: 1em
}

[style="text-indent:10em"]{
  text-indent: 10em !important;
}


tei-div,tei-head,.manifest {
  display: block;
}
tei-p,tei-title,tei-respstmt {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

tei-title{
  font-weight:bold;
}

/*ハイライト*/
.highlight {
  background-color: yellow; /* ハイライトの背景色 */
}

/*mirador埋め込み*/
#viewer {
  height: 100%;
  position: relative;
  width: 100%;
}

/*縦書き*/
#content,#aozora{
  writing-mode: vertical-rl;
  max-width:700px ; 
  max-height: 500px;
}

tei-back,#header{
  display: block;
  border: 1px solid #aaa;
  padding: 2em;
}

#iiif_container{
  display: inline-block;
}

/*割注
[unti="wbr"] * {writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  font-size:48px;
}*/
#warichu {
    display: inline-table;
    /*-webkit-writing-mode: vertical-lr;*/
    vertical-align: top;
}
#warichu-left, #warichu-right {
 font-size:50%;
 display: table-row;
 vertical-align: top;
}


/*リスト
tei-listPerson {
  list-style-type: none;
}
tei-listPerson > tei-person {
  display: list-item;
}*/
/*
tei-header {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
}
tei-titlestmt > tei-title{
  font-size: 2em;
      font-weight: bold;
      margin: 0.67em 0;
}*/

